*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: $text-color;
  margin: 0 auto;
  position: relative;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.row, %row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column, %column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-center {
  text-align: center !important;
}

h2, h3 {
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $primary-color !important
  }

  &[rel~="author"] {
    text-transform: capitalize;
  }
}

p {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

a img,
button,
button:focus,
img {
  outline: none !important;
  border: 0 !important;
}

button::-moz-focus-inner {
  border: 0;
}

.owl-dots .owl-dot span {
  width: 9px;
  height: 9px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-dot.active span {
  border: 1px solid #cdcdcd;
}

.site-content {
  margin: 50px auto;
}

.wp-block-image {
  margin-bottom: 20px;

  figcaption {
    margin-top: 10px;
    font-size: 1rem;
    opacity: .9;
    font-style: italic;
  }
}
