// ===================================
// Warna
// ===================================
$base-color: #FF768B;
$light-color: #FFF;
$grey-color: #FAFAFA;
$text-color: #555;
$dark-color: #333;
// $border-color: #32354e;
// $borderform-color: #707070;
// $link-color: #3399CC;
