.category-page {
  margin-top: 3rem;

  main {
    flex-basis: 66.66666667%;
    width: 66.66666667%;
    padding-right: 47px;
    @extend %boz-sizing;

    img {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }

  article {
    margin-bottom: 2.5rem;
  }

  aside {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    @extend %boz-sizing;
  }

  header {
    span {
      display: block;
      margin: 1rem 0;
    }

    a {
      color: $primary-color;
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

header {
  &.page-header {
    background: $grey-color;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h1 {
    font-size: 1.5rem;
    color: $dark-color;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 1rem
  }

  .description {
    width: 60%;
  }
}
