.comment-form-areas {
  background: $grey-color;
  padding: 30px;
  margin-bottom: 1.875rem;

  h3 {
    @extend %title-section-v2
  }

  input, textarea {
    display: block;
    padding: 0.75rem 1.25rem;
    color: $text-color;
    font-size: 0.875rem;
    font-weight: 400;
    background: $light-color;
    outline: none;
    border: 1px solid $border-color;
    margin-bottom: 1.8rem;
  }

  textarea {
    width: 100%;
  }

  input:not(:last-child):not(#wp-comment-cookies-consent) {
    margin-right: 30px
  }

  .comment-form-cookies-consent {
    display: none;
    // display: flex;

    // input {
    //   margin: 0 10px 0 0;
    // }

    // label {
    //   font-size: .9rem;
    // }
  }

  input.btn {
    width: 100%;
    color: $primary-color;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: $light-color;
      background: $primary-color
    }
  }
}

.comments-area {
  h3 {
    @extend %title-section-v2;
  }

  .comment-author {
    display: inline-block;
    float: left;
    margin-right: 20px;
  }

  cite {
    display: block;
    color: #333;
    margin-bottom: 8px;
  }

  time {
    font-size: .85rem;
    color: $text-color;
    opacity: .4;
  }

  .comment-details {
    overflow: hidden;
  }

  img {
    @include border-radius(3px)
  }

  .comment-content {
    margin-top: 20px;
  }
}

.comment-reply-link {
  float: right;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border: 1px solid $border-color;
  @include border-radius(1.25rem);

  a {
    color: $text-color
  }
}
