.comment-respond {
  #author, #email {
    flex-basis: 48%;
    width: 48%;
  }

  #email {
    margin-left: auto;
  }

  input, textarea {
    display: block;
    padding: 0.75rem 1.25rem;
    color: $text-color;
    font-size: 0.875rem;
    font-weight: 400;
    background: $light-color;
    outline: none;
    border: 1px solid $border-color;
    margin-bottom: 1.8rem;
  }

  textarea {
    width: 100%;
  }

  .comment-form-cookies-consent {
    display: none;
  }

  input.btn {
    width: 100%;
    color: $primary-color;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: $light-color;
      background: $primary-color
    }
  }

  small {
    font-weight: 400;
    font-size: 1rem;
    float: right;
    color: $primary-color
  }

}

.comment-form-areas {
  background: $grey-color;
  padding: 30px;
  margin-bottom: 1.875rem;

  h3 {
    @extend %title-section-v2;
    font-size: 1.4rem !important;
    margin: 10px 0 30px;
    padding-top: 0;
  }
}

.comments-area {
  margin-bottom: 3rem;

  h3 {
    @extend %title-section-v2;
    font-size: 1.4rem !important;
    margin: 10px 0 30px;
    padding-top: 0;
  }

  .comment-author {
    float: left;
    margin-right: 20px;
  }

  cite {
    display: block;
    color: #333;
    margin-bottom: 8px;
  }

  time {
    font-size: .85rem;
    color: $text-color;
    opacity: .4;
  }

  .comment-details {
    overflow: hidden;
  }

  img {
    @include border-radius(3px)
  }

  .comment-content {
    margin-top: 20px;
    font-size: 1rem;
  }

  article ~ .children {
    margin: 1rem 0 0 2rem;
  }

  .depth-1 {
    border-bottom: 1px solid $border-color;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
}

a.comment-reply-link {
  float: right;
  padding: .4rem .85rem;
  font-size: .7rem;
  border: 1px solid $border-color;
  @include border-radius(1.25rem);

  a {
    color: $text-color
  }
}
