.featured-category {
  background: $grey-color;

  .container {
    padding: 5rem 0;
  }

  .column:not(:last-child) {
    margin-right: 15px;
  }

  .item-list {
    position: relative;
    overflow: hidden;
  }

  .hover-post {
    position: absolute;
    padding: 30px 26px;
    bottom: 0;
    left: 0;
    right: 0;

    .category-link {
      color: $light-color;
      font-size: .8rem;
      text-transform: uppercase;
      padding: 7px 13px;
      background: $primary-color;
      margin-bottom: 10px;
      display: inline-block;

      &:hover {
        color: $light-color !important
      }
    }

    p {
      color: $light-color;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  img {
    width: 100%;
  }
}
