.featured-category {
  background: $grey-color;

  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .item-list {
    position: relative;
    overflow: hidden;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    height: 450px;

    &:not(:last-child) {
      padding-right: 15px;
    }
  }

  .hover-post {
    position: absolute;
    padding: 30px 26px;
    bottom: 0;
    left: 0;
    right: 0;

    .category-link {
      color: $light-color;
      font-size: .8rem;
      text-transform: uppercase;
      padding: 7px 13px;
      background: $primary-color;
      margin-bottom: 10px;
      display: inline-block;

      &:hover {
        color: $light-color !important
      }
    }

    p {
      color: $light-color;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  img {
    width: 100%;
  }
}
