.new-post-home {
  margin-top: 50px;

  h3 {
    @extend %title-section;
  }

  article {
    flex-basis: 25%;
    max-width: 25%;

    img {
      height: 220px;
      object-fit: cover;
    }

    &:not(:last-child) {
      padding-right: 15px
    }

    header {
      min-height: 70px;
      padding: 22px 0 40px;

      span {
        @extend %tag-cat-span
      }
    }

    h2 {
      font-size: 1rem;
      color: $dark-color;
      font-weight: 500;
    }

    p {
      font-size: .9rem;
      color: $text-color;

      a {
        display: inline-block;
        color: $text-color;
        margin-top: 10px;
      }
    }
  }

  .owl-dots {
    text-align: center;
    padding-bottom: 30px;
  }

}
