.popular-today {
  border-top: 1px solid $border-color;

  h3 {
    @extend %title-section;
    padding: 3rem 0 2.2rem;
  }

  article {
    flex-basis: 50%;
    width: 50%;
    margin-bottom: 40px;

    &:nth-child(odd) {
      padding-right: 30px
    }
  }

  span {
    color: $primary-color;
    font-size: .8rem;
    text-transform: uppercase;
    margin: 25px 0 10px;
    display: block;
  }

  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .post-info {
    margin: 11px 0 15px;

    a {
      font-weight: 400;
      font-size: .8rem;
    }
  }

  a {
    color: $dark-color;
    font-weight: 500;
  }

  img {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }
}
