.related {
  background: $grey-color;
  margin: 40px 0;
  padding: 35px;

  h3 {
    @extend %title-section-v2;
    font-size: 1.4rem !important;
    margin-bottom: 30px !important;
    margin: 10px 0 30px;
    padding-top: 0;
  }

  article {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;

    &:not(:last-child) {
      padding-right: 15px;
    }
  }

  img {
    height: 150px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
  }

  a {
    color: $text-color;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.3;
  }
}
